div .name {
    display: inline-block;
    width: 200px;
    background-color: palevioletred;
    margin-bottom: 10px;
    font-weight: bold;
}
body{
    background-color: pink;
}
div .btn{
    display: inline-block;
    background-color: palevioletred;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 380px;
    padding: 10px 10px;
    
}
.btn:hover {
    background-color: red;
}



.signup{
    padding-top: 20px;
    width: 400px;
    background-color: white;
    margin-left: 450px;   
}
div .title{
    font-family: 'Fascinate', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
div .name1{
  margin-left: 50px;
  margin-bottom: 10px;
}
div .name2{
    text-align: center;
    margin-left: 40px;
    padding-bottom: 20px;
}
div .btn1{
    padding: 10px 60px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(173, 102, 173);
    color: white;
}
div .btn1:active{
    background-color: blueviolet;
}
 div .box{
    padding: 10px 15px;
    width: 80%;
    border-radius: 5px;
} 
